body{
    background-color: lightpink;
}
#menu{
    border-spacing: 0ch;
    border: solid black 1px;
}
#cost{
    border: solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    
}
#items{
    border: solid rgb(255, 0, 0) 1px;
    padding: 5px;
    color: white;
    background-color: black;
}
table{
    border-spacing: 0ch;
}
tr{
    background-color: tan;
}
td{
    border: solid #5ba079;
    padding: 5px;
    color: black;
    background-color:tan;
}